:host /deep/ .plate-config .mat-select-trigger {
    width: 240px !important;
}

:host /deep/ .vtypes .mat-select-trigger {
    width: 400px !important;
}

div.header {
    padding: 5px 0 0;
    font-weight: 600;
}

.record {
    height: 50px;
}

.value {
    padding: 0;
    text-align: center;
}

input[disabled] {
    background: #DDD;
    color: #333;
    border: 1px solid #666;
    text-align: center;
}

.weight-value {
    width: 70px;
    padding: 5px;
}

.image-container {
    background-color: #D7D7D7;
    position: relative;
    width: 1000px;
    height: 68px;
}

.vehicle-image {
    position: absolute;
}