.plate-config /deep/.mat-select-trigger {
    width: 100% !important;
}

.plate-config {
    width: 100%;
}

.vtypes {
    width: 100%;
}
.vtypes /deep/ .mat-select-trigger {
    width: 100% !important;
}

div.header {
    padding: 5px 0 0;
    font-weight: 600;
}

.record {
    padding: 5px 0;
}

.value {
    padding: 0;
    text-align: center;
}

input[disabled] {
    background: #DDD;
    color: #333;
    border: 1px solid #666;
    text-align: center;
}

.weight-value {
    width: 95%;
}

.image-container {
    overflow: hidden;
    background-color: #D7D7D7;
    position: relative;
    width: 1000px;
    height: 68px;
}

.vehicle-image {
    position: absolute;
}