<main>
    <md-card>
        <md-card-content>
            <div class="row pt-3 pl-3">
                <div class = "col-sm-5 col-md-4 col-lg-3">
                    <md-select class="plate-config" id="plate" [disabled]="selected" placeholder="Plate Configuration"
                               [(ngModel)]="selectedPlateConfig">
                        <md-option *ngFor="let plateConfig of plateConfigs" [value]="plateConfig">{{plateConfig.name}}</md-option>
                    </md-select>
                </div>
                <div class = "col-sm-5">
                    <button [disabled]="!selectedPlateConfig" class="ml-sm-2 mt-sm-0 mt-3" md-raised-button color="accent" *ngIf="!selected"
                            (click)="select()">Start
                    </button>
                    <button class="ml-sm-2 mt-sm-0 mt-3"  md-raised-button color="warn" *ngIf="selected" [disabled] = "isRunning" (click)="unselect()">Stop</button>

                </div>
            </div>

            <div class="control" *ngIf="selected">
                <hr/>
                <div>
                    <div class="row record pl-3">
                        <div class="col-sm-1 header">Plate</div>
                        <div class="value col-sm-2" *ngFor="let vehicleState of vehicleStates">{{vehicleState.plateNum}}</div>
                    </div>
                    <div class="row record pl-3">
                        <div class="col-sm-1 header">Port</div>
                        <div class="value col-sm-2" *ngFor="let vehicleState of vehicleStates">{{vehicleState.port}}</div>
                    </div>
                    <div class="row record pl-3">
                        <div class="col-sm-1 header">Weight</div>
                        <div class="value col-sm-2" *ngFor="let vehicleState of vehicleStates"><input type="text"
                                                                                                   class="col-lg-8 col-md-7 col-sm-8 col-6 pt-1"
                                                                                                   name="lname" disabled
                                                                                                   [value]="vehicleState.weight.toFixed(2)"/>
                        </div>
                    </div>
                    <div class="optional" *ngIf="isRunning">
                        <div class="row record pl-3">
                            <div class="col-sm-1 header">Active</div>
                            <div class="value col-sm-2" *ngFor="let vehicleState of vehicleStates">
                                <md-icon color="{{getClass(vehicleState.scaleActive)}}">{{getIcon(vehicleState.scaleActive)}}
                                </md-icon>
                            </div>
                        </div>
                        <div class="row record pl-3">
                            <div class="col-sm-1 header">Scale Join</div>
                            <div class="value col-sm-2" *ngFor="let vehicleState of vehicleStates">
                                <md-icon color="{{getClass(vehicleState.scaleJoin)}}">{{getIcon(vehicleState.scaleJoin)}}
                                </md-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row pt-3" *ngIf="isRunning">
                    <span class="pl-3"></span>
                    <h5>Step {{(simState) ? simState.step + 1 : ''}}</h5>
                </div>
                <div class="row pt-3 pl-3">
                    <div class = "col-sm-6 pl-0">
                        <md-select class="vtypes" [disabled]="isRunning" placeholder="Vehicle Type" [(ngModel)]="selectedVehicleType" (change) = "selectVehicle()">
                            <md-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType">{{vehicleType.code}} - {{vehicleType.name}}</md-option>
                        </md-select>
                    </div>

                    <div class = "col-sm-4 pl-sm-3 pt-sm-0 pl-0 pt-4">
                        <md-select class="vtypes" [disabled]="isRunning" placeholder="Vehicle" *ngIf = "selectedVehicleType" [(ngModel)]="selectedVehicle">
                            <md-option *ngFor="let vehicle of vehicles" [value]="vehicle.code">{{vehicle.name}}</md-option>
                        </md-select>
                    </div>

                </div>
                <div class="row mt-3 pl-3">
                    <button md-raised-button [disabled]="!selectedVehicle" color="accent" *ngIf="!isRunning" (click)="run()">
                        Run
                    </button>
                    <button md-raised-button color="accent" *ngIf="isRunning && simState && (simState.step + 1 < simState.numSteps)"
                            [disabled] = "simState.stage != 2" (click)="next()">Next
                    </button>
                    <button class="ml-2" md-raised-button color="warn" *ngIf="isRunning && simState" [disabled] = "simState.stage != 2" (click)="stop()">Stop</button>
                </div>

                <div class = "mt-3 image-container" *ngIf = "isRunning">
                    <img class = "vehicle-image" [src] = "selectedVehicleImage"/>
                </div>
            </div>
        </md-card-content>
    </md-card>
</main>
