<main>
    <div class="row">
        <span class="pl-3"></span>
        <md-select class="plate-config" id="plate" [disabled]="selected" placeholder="Plate Configuration"
                   [(ngModel)]="selectedPlateConfig">
            <md-option *ngFor="let plateConfig of plateConfigs" [value]="plateConfig">
                {{plateConfig.name}}
            </md-option>
        </md-select>
        <button [disabled]="!selectedPlateConfig" class="ml-2" md-raised-button color="accent" *ngIf="!selected"
                (click)="select()">Start
        </button>
        <button class="ml-2" md-raised-button color="warn" *ngIf="selected" [disabled] = "isRunning" (click)="unselect()">Stop</button>
    </div>
    <hr/>
    <div class="control" *ngIf="selected">
        <div>
            <div class="row record">
                <span class="pl-3"></span>
                <div class="col-1 header">Plate</div>
                <div class="value col-2" *ngFor="let vehicleState of vehicleStates">{{vehicleState.plateNum}}</div>
            </div>
            <div class="row record">
                <span class="pl-3"></span>
                <div class="col-1 header">Port</div>
                <div class="value col-2" *ngFor="let vehicleState of vehicleStates">{{vehicleState.port}}</div>
            </div>
            <div class="row record">
                <span class="pl-3"></span>
                <div class="col-1 header">Weight</div>
                <div class="value col-2" *ngFor="let vehicleState of vehicleStates"><input type="text"
                                                                                           class="weight-value"
                                                                                           name="lname" disabled
                                                                                           [value]="vehicleState.weight.toFixed(2)"/>
                </div>
            </div>
            <div class="optional" *ngIf="isRunning">
                <div class="row record">
                    <span class="pl-3"></span>
                    <div class="col-1 header">Active</div>
                    <div class="value col-2" *ngFor="let vehicleState of vehicleStates">
                        <md-icon color="{{getClass(vehicleState.scaleActive)}}">{{getIcon(vehicleState.scaleActive)}}
                        </md-icon>
                    </div>
                </div>
                <div class="row record">
                    <span class="pl-3"></span>
                    <div class="col-1 header">Scale Join</div>
                    <div class="value col-2" *ngFor="let vehicleState of vehicleStates">
                        <md-icon color="{{getClass(vehicleState.scaleJoin)}}">{{getIcon(vehicleState.scaleJoin)}}
                        </md-icon>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row pt-3" *ngIf="isRunning">
            <span class="pl-3"></span>
            <h5>Step {{(simState) ? simState.step + 1 : ''}}</h5>
        </div>
        <div class="row pt-3">
            <span class="pl-3"></span>
            <md-select class="vtypes" [disabled]="isRunning" placeholder="Vehicle Type" [(ngModel)]="selectedVehicle">
                <md-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.code">
                    {{vehicleType.code}} - {{vehicleType.name}}
                </md-option>
            </md-select>
        </div>
        <div class="row mt-3">
            <span class="pl-3"></span>
            <button md-raised-button [disabled]="!selectedVehicle" color="accent" *ngIf="!isRunning" (click)="run()">
                Run
            </button>
            <button md-raised-button color="accent" *ngIf="isRunning && simState && (simState.step + 1 < simState.numSteps)"
                   [disabled] = "simState.stage != 2" (click)="next()">Next
            </button>
            <button class="ml-2" md-raised-button color="warn" *ngIf="isRunning && simState" [disabled] = "simState.stage != 2" (click)="stop()">Stop</button>
        </div>

        <div class = "mt-3 image-container" [hidden] = "!isRunning">
            <img class = "vehicle-image" src = "image.jpg"/>
        </div>
    </div>


</main>
