<main>
    <md-card>
        <md-card-content>
            <form [formGroup] = "settingsForm" *ngIf="settings">
                <div class="row">
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <md-select placeholder="Tick Rate" [(ngModel)]="settings.tickRates" formControlName = "tickRates">
                            <md-option [value]="5">0.5</md-option>
                            <md-option [value]="1">1</md-option>
                            <md-option [value]="2">2</md-option>
                            <md-option [value]="2">5</md-option>
                        </md-select>
                    </div>
                    <div class="col-sm-5">
                        <vr-number-input  formControlName = "numThreads" [placeholder]="'Number of handler threads'" maxlength="1" [(ngModel)]="settings.numThreads"></vr-number-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <md-input-container>
                            <input mdInput formControlName = "hostName" placeholder="Host name" value="localhost" [(ngModel)]="settings.hostName">
                        </md-input-container>
                    </div>
                    <div class="col-sm-5">
                        <vr-number-input formControlName = "numRamPackets" [placeholder]="'Number of Ramp Packets'" maxlength="2" [(ngModel)]="settings.numRamPackets"></vr-number-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <vr-number-input formControlName = "startPort" [placeholder]="'Start Port'" maxlength="5" [(ngModel)]="settings.startPort"></vr-number-input>
                    </div>
                    <div class="col-sm-5">
                        <vr-number-input formControlName = "numInitPackets" [placeholder]="'Number of init packets'" maxlength="1" [(ngModel)]="settings.numInitPackets"></vr-number-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label>Overweight flags</label>
                    </div>
                </div>
                <div class="row" *ngIf="settings.overweight">
                    <div class="col-10">
                        <md-checkbox *ngFor="let i of arr" formControlName="plate-{{i}}" [(ngModel)]="settings.overweight[i]">
                            Plate {{i + 1}}
                        </md-checkbox>
                    </div>
                </div>
                <div class="offset-md-6">
                    <button md-raised-button color="accent" [disabled] = "settingsForm.invalid" (click)="save()">Save</button>
                </div>
            </form>
            <div *ngIf="!settings">
                <h5>Failed to load settings</h5>
            </div>
        </md-card-content>
    </md-card>
</main>
