@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';

body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    display: block;
}

md-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}

.mat-tab-header-pagination {
    display:none!important;
}
